<?xml version="1.0" encoding="UTF-8"?>
<beans 	
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd 
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.3.xsd 
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.3.xsd 
	">
	<bean id="student"  class="com.springexperiment.entities.Student">
		<property name="sname" value="Arvin"></property>
		<property name="sno" value="20141969"></property>
	</bean>	
	<bean id="myLogger" class="com.springexperiment.beans.impl.StudentLoggerImpl"></bean>
	<bean id="studentDAO" class="com.springexperiment.dao.impl.StudentDAOImpl">
		<property name="dataSource" ref="mysqlDataSource"></property>
	</bean>
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	
	<bean id="mysqlDataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" 
			value="jdbc:mysql://localhost:3306/experiment?characterEncoding=utf8">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="Nq2tkpy73y">
		</property>
		<property name="initialSize" value="5"></property>
		<property name="maxTotal" value="80"></property>
	</bean>
	
	<bean id="oracleDataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property> 
		<property name="url" 
			value="jdbc:oracle:thin:@localhost:1521:orcl">
		</property>
		<property name="username" value="C##SCOTT_20141969"></property>
		<property name="password" value="Pwd20141969"></property>		
		<property name="initialSize" value="5"></property>
		<property name="maxTotal" value="80"></property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"  p:dataSource-ref="mysqlDataSource"></bean>
	
	<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>
